.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
database/database.sqlite

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.nova
.zed
.DS_Store
*.log

README.md
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
